html, body {
    background-color: black;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

h1 {
    font-size: 3em;
    color: white;
    text-align: center;
    font-family: 'Montserrat', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 100;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    position: absolute;
    max-width: 665px;
    max-height: 665px;
    height: 65%;
    top: 10%;
}

.chromata-image {
    visibility: hidden;
}

#chromataCanvas {
    width: inherit;
    height: inherit;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    padding: 0.5em;
}

.link-icon {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

.link-text {
    font-size: 1em;
    padding: 0.2em;
}

